* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 游ゴシック体, YuGothic, 'Yu Gothic', "游ゴシック Medium",
    "Yu Gothic Medium", 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    line-height: 1.5;
}

a,a:hover,a:visited{
    color: inherit;
}

.logo_fadein{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
}
.logo_fadein2{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
}
.first-logo {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}
.first-logo2 {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}
.first-image1_fadein {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}

.first-image2_fadein {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}
.first-image1_fadein2 {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}

.first-image2_fadein2 {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}
.first-logo {
  height: 500px;
}
.first-logo2 {
  height: 250px;
}
.first-image1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.first-image2 {
  height: 100vh;    
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.first-image1-2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-image2-2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:-120%;
    left:0;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:#D085FD;
    /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  top: 0;
}
.nav-column{
 column-count: 2;
}

.nav-menu-width1 ul {
	list-style: none;
	padding: 20px;
}
.nav-menu-width1 ul li {
  list-style-position:inside;
  padding-left: 30px;
	line-height: 1.6em;
  margin-bottom: 20px;
  background: url(../img/li.png) left -1px top 2px no-repeat;
	background-size: 30px auto;
}
.nav-menu-width1 ul li :hover{/* マウスオーバー時に色変更*/
  opacity: 0.7;
}
.nav-menu-contents {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  text-align: left;
}

.nav-menu-width1 {
  width: 50%;
  margin: 50px 0px 50px 50%;
  padding-left: 10px;
}
.nav-text {
  margin-top: 10px;
}
.nav-top {
  display: flex;
}
.nav-top p {
  margin:10px 0 0 20px;
}
.nav-sns :hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}
.nav-catch {
  display: flex;
  align-items: center; /* 垂直中心 */
}
.nav-catch:after {
  border-top: 1px solid;
  content: "";
  width: 15em; /* 線の長さ */
  margin-left: 10px;
}
/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
  z-index: 1000;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
  width: 80px;
  height:80px;
}
.openbtn-title{
  position:fixed;
  z-index: 1000;/*ボタンを最前面に*/
  top:69px;
  right: 10px;
  cursor: pointer;
  width: 80px;
  height:20px;
  text-align: center;
  font-weight: 700;
}  
/*×に変化*/  
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 4px;
  border-radius: 2px;
  background-color: #666;
  width: 65%;
}
.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:35px;
}

.openbtn1 span:nth-of-type(3) {
  top:55px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 31px;
  left: 7px;
  transform: translateY(6px) rotate(-45deg);
  width: 80%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 43px;
  left: 9px;
  transform: translateY(-6px) rotate(45deg);
  width: 80%;
}


.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 500px; /* 高さ */
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}

.main-visual-content {
  width: 50%; /* 横幅*/
  height: 100%; /* 親の高さに揃え */
}

.logo {
  margin: 85px 0 0 50px;
  height: 60%;
}

.concept {
  width: 100%;
  height: 400px;
  background-color: #F3CEFE;
}
.concept-image-contents {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.concept-image-contents img{
  width: 300px;
  height: 150px;
  object-fit: cover;
}
.concept-detail{
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.campaign {
  width: 100%;
  text-align: center;
  background-color: #fff;
}
.campaign-title {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 32px;
  color: #000000;
}
.campaign-title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #D085FD;
}
/*------ スライダー横幅 ------*/
.campaign-slider{
  width:70%;
  margin:0 auto;
}

/*------ スライダー画像 ------*/
.campaign-slider img{
  width:100%;
  object-fit: cover;
}

/*-------- 高さ調整 ----------*/
.campaign-slider .slick-slide{
  height:auto!important;
}

.slick-dots li button:before{
	font-size:20px!important;
}

.merit{
  width:100%;
  height: 630px;
  background-color: #F3CEFE;
  padding:40px 0px;
}
/*------ スライダー横幅 ------*/
.merit-slider{
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.35);
  width: 1200px;
  height: 100%;
  margin:0 auto;
  background-color: #fff;
}
/*-------- 高さ調整 ----------*/
.merit-slider .slick-slide{
  height:auto!important;
}

/*----------- 矢印 -----------*/
.merit-slider .slick-arrow {
  position: absolute;
  top: 89%;
  z-index: 1;
  cursor: pointer;
  width: 50px!important;
  height: 50px!important;
}

.merit-slider .prev-arrow {
  left: 32.8%;
}

.merit-slider .next-arrow {
  left: 37.4%;
}

.merit-contents {
  width: 100%;
  height: 100%;
  display: flex;
}
.merit-width1 {
  width: 40%;
  height: 100%;
  margin: 20px;
}
.merit-width2 {
  width: 60%;
  height: 100%;
}
.merit-slider img {
  width: 100%;
  height: 550px;
  margin: auto;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  object-fit: cover;
}

.merit-title {
  text-align: left;
  font-size: 32px;
  color: #000000;
  margin: 10px 0px 5px 10px;
}
.merit-detail {
  text-align: left;
  font-size: 28px;
  color: #000000;
  margin: 10px 0px 5px 10px;
}
.merit-detail-text {
  text-align: left;
  color: #000000;
  font-size: 20px;
  margin-left: 10px;
}

.menus {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
}
#menu-heading {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 32px;
  color: #000000;
}
#menu-heading::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #D085FD;
}
.menu-contents {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.Menu {
  position: relative;
  width: 350px;
  overflow:hidden;
  box-shadow: 0 0 10px  #D085FD;
  background-color: #fff;
  border-radius: 10px;
}
.Menu:nth-child(2) {
  margin: 0px 35px;
}
.Menu a {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}
.Menu a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.1;
    background-color: #000000;
}
.beginner {
  position: relative;
  margin-top: 50px;
  width: 90%;
  height: 120px;
  background-image: url(../img/beginnerback.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  overflow:hidden;
  box-shadow: 0 0 10px  #D085FD;
  border-radius: 10px;
}
.beginner a {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}
.beginner a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.1;
    background-color: #000000;
}
.menu-heading {
  font-size: 25px;
  color: #000000;
  margin: 10px 0px;
}
.menu-text {
  text-align: left;
  color: #000000;
  font-size: 16px;
  margin: 20px;
}
.menu-heading2 {
  font-size: 35px;
  color: #000000;
  margin: 0 auto;
}

#menu-image {
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.info{
  width: 100%;
  height: 550px;
  background-color: #F3CEFE;
  padding: 50px 0px;
}
/*------ スライダー横幅 ------*/
.info-slider{
  width:100%;
  margin:0 auto;
}
/*-------- 高さ調整 ----------*/
.info-slider .slick-slide{
  height: 550px;
}
.info-contents {
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.35);
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.info-width1 {
  width: 60%;
  height: 100%;
}
.info-width2 {
  width: 40%;
  padding: 20px;
  background-color: #fff;
}
.info-title {
  text-align: left;
  font-size: 32px;
  color: #000000;
  margin: 10px 0px 5px 0px;
}
.info-detail {
  text-align: left;
  font-size: 24px;
  color: #D085FD;
  margin: 10px 0px 5px 0px;
}
.info-adress-detail {
  text-align: left;
  font-size: 20px;
  color: #000000;
  margin: 10px 0px 5px 0px;
}
.info-open-detail {
  text-align: left;
  font-size: 20px;
  color: #000000;
  margin: 10px 0px 5px 0px;
}
.info-tel {
  font-size: 35px;
  color: #000000;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  line-height:0;
}
.info-sns a {
  display: inline-block;
  float: left;
}
.info-sns a:nth-child(2) {
  margin-left: 20px;
}
.info-sns a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}
.info-slider img {
  width: 100%;
  height: 450px;
  margin: auto;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  object-fit: cover;
}
.info-link {
  margin-left: 70%;
}

.contact {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FFF;
}
#contact-heading {
  padding-top: 30px;
  font-size: 32px;
  color: #000000;
}
#contact-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #D085FD;
}
.contact-text {
  padding: 30px 0px 30px 0px;
  font-size: 16px;
  color: #000000;
}
.contact-contents {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}
.contact-nav {
  display: flex;
}

.contact-nav-list {
  line-height: 80px;
  padding: 0 30px;
  margin: 0 30px;
  list-style: none;
  font-size: 16px;
  background-color: #D085FD;
  border-radius: 100vh;
}

.contact-nav-list a{
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 24px;
}

.contact-nav :hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}
.info-link a :hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}

/*div要素全体にリンクをつけるために必要な要素*/
.page-top-link {
    position: relative;
    text-align: center;
}
.page-top-link a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.page-top {
  width: 100%;
  height: 90px;
}
/* 以下見た目をわかりやすくするための設定*/
.page-top-link {
  background-color: #F3CEFE;
}
.column{
 column-count: 2;
}

footer {
  width: 100%;
  height: auto;
  background-color: #D085FD;
}
.footer-menu-width1 ul {
	list-style: none;
	padding: 20px;
}
.footer-menu-width1 ul li {
  list-style-position:inside;
  padding-left: 30px;
	line-height: 1.6em;
  margin-bottom: 20px;
  background: url(../img/li.png) left -1px top 2px no-repeat;
	background-size: 30px auto;
}
.footer-menu-width1 ul li :hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}
.footer-menu-contents {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  text-align: left;
}

.footer-menu-width1 {
  width: 40%;
  margin: 50px 50px 0 50px;
}
.footer-menu-width2 {
  width: 60%;
  background-image: url(../img/footerimg.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}
.footeer-text {
  margin-top: 10px;
}
.footer-top {
  display: flex;
}
.footer-top p {
  margin:10px 0 0 20px;
}
.sns :hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}
.catch {
  display: flex;
  align-items: center; /* 垂直中心 */
}
.catch:after {
  border-top: 1px solid;
  content: "";
  width: 15em; /* 線の長さ */
  margin-left: 10px;
}
@media screen and (max-width: 1260px) {
  .menu-contents {
    width: 100%; 
  }
  .Menu:nth-child(2) {
    margin:0 0 0 250px;
  }  
}  
@media screen and (max-width: 1250px) {
.concept-image-contents img {
    width: 250px;
}
.merit-slider .prev-arrow {
    left: 29.8%;
}
.merit-slider .next-arrow {
    left: 36.4%;
}
.Menu:nth-child(3) {
  margin: 40px 0;
}
.footer-top p br {
  display: none;
}
.merit-slider{
  width: 95%;
}
.info-contents {
  width: 95%;
}
.info-link {
    margin-left: 50%;
}
.nav-menu-width1 {
  width: 100%;
  margin: 50px auto;
}
.merit-title {
  font-size: 26px;
}
.merit-detail {
  font-size: 25px;
}
.merit-detail-text {
  font-size: 17px;
}
.Menu:nth-child(2) {
  margin:0 0 0 200px;
}
.concept-image-contents {
  width: 95%;
}
}
  
@media screen and (max-width: 1050px) {
  .Menu:nth-child(2) {
    margin: 0 0 0 50px;
  }
  .footer-top p {
    font-size: 12px;
  }
  .contact-contents {
  width: 100%;
  }
}
@media screen and (max-width: 767px) {
.concept {
  width: 100%;
  height: auto;
}
.concept-image-contents {
  width: 95%;
}
.concept-image-contents img{
  width: 100%;
  height: 100px;
}
.concept-detail{
  width: 80%;
  padding-bottom: 20px;
}
.concept-text br{
  display: none;
}

.merit{
  height: 720px;
}
/*------ スライダー横幅 ------*/
.merit-slider .prev-arrow {
  left: 72.8%;
}

.merit-slider .next-arrow {
  left: 85.4%;
}

.merit-contents {
  display: flex;
  flex-direction:column-reverse;
}
.merit-width1 {
  width: 100%;
  margin: 0;
}
.merit-width2 {
  width: 100%;
}
.merit-slider img {
  height: 300px;
}
.merit-title {
  font-size: 27px;
}
.merit-detail {
  font-size: 23px;
}
.merit-detail-text {
  font-size: 15px;
  margin: 10px 10px;
}

.menu-contents {
  display: block;
}
.Menu:nth-child(2) {
  margin: 20px 0;
}
.Menu:nth-child(3) {
  margin: 20px 0;
}
.beginner {
  width: 100%;
  height: 120px;
}
.info {
  height: auto;
}
.info-contents {
  width: 95%;
  display: block;
}
.info-width1 {
  width: 100%;
  height: 300px;
}
.info-slider .slick-slide {
  height: 300px;
}
.info-width2 {
  width: 100%;
}
.info-slider img {
  height: 300px;
}
.info-link {
  margin-left: 58%;
  padding-bottom: 10px;
}
.contact-contents {
  width: 100%;
  padding-bottom: 0px;
}
.contact-nav {
  display: block;
}
.contact-nav-list {
  margin: 20px 30px;
}
.contact-text {
    padding: 30px 5px 10px 5px;
    font-size: 16px;
    color: #000000;
}
.footer-menu-contents {
  display: block;
}

.footer-menu-width1 {
  width: 100%;
  margin: 0px 50px 0 10px;
  padding-top: 25px;
}
.footer-menu-width1 ul{
  padding: 5px;
}
.footer-top p {
  margin: 20px 10px 0 10px;
  font-size: 14px;
}
.campaign-slider {
    width: 95%;
}
}
@media screen and (max-width: 521px) {   
    .nav-top p br {
        display: none;
    }
}    
@media screen and (max-width: 432px) {
.main-visual {
  background-image: url(../img/mv2.png);
}

.main-visual-content {
  width: 50%; /* 横幅*/
  height: 100%; /* 親の高さに揃え */
}
.logo {
  margin: 339px 0px 0px 10px;
  height: 30%;
}
.merit {
  height: 780px;
}
.footer-top p {
  margin: 17px 10px 0 10px;
  font-size: 12px;
  width: 210px;
}
.column a {
  font-size: 12.5px;
}
.footer-menu-width1 {
  margin: 0px 0px 0px 15px;
}
.footer-menu-width1 {
    width: auto;
}
.nav-top p {
  margin: 7px 80px 0 5px;
  font-size: 12px;
}
.merit-slider .prev-arrow {
  left: 70%;
}
.merit-slider .slick-arrow {
  top: 92%;
}
}
@media screen and (max-width: 350px) {
.merit-slider .prev-arrow {
  left: 65%;
}  
.merit-slider .next-arrow {
  left: 83%;
}
.footer-top p {
    margin: 17px 9px 0 10px;
}
.Menu {
    width: 330px;
}
}