* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,a:hover,a:visited{
    color: inherit;
}

body {
    font-family: 游ゴシック体, YuGothic, 'Yu Gothic', "游ゴシック Medium",
    "Yu Gothic Medium", 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:-120%;
    left:0;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:#999;
    /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  top: 0;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
  text-align: center; 
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
  z-index: 1000;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}
  
/*×に変化*/  
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.sab-visual {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ */
  background-image: url(../img/sabmv.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}

.sab-visual-content {
  width: 100%; /* 横幅*/
  height: 100%; /* 親の高さに揃え */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sab-visual-heading {
  font-size: 70px;
  color:#FFF;
}

.menu {
  width: 850px;
  margin: 10px auto;
  height: 400px;
}
.menu-contents {
  display: flex;
}
dt {
 height: 10px;  
}
db {
  display: flex;
}
.tb-line {
  width: 100%; /* 横幅*/
  height: 100px; /* 親の高さに揃え */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:1px solid #000000;
  border-bottom:1px solid #000000;
}
.left-line {
  width: 50%;
  border-left:5px solid #000000; /*線の設定*/
  padding:2px 8px; /*余白の設定*/
  margin-top: 30px;
}
.menu-heading {
  width: 150px;
  line-height: 40px;
  margin: 0 10px;
  font-size: 20px;
  background-color: #D085FD;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.menu-price {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.menu-image {
  width: 50%;
}
.menu-image img{
  width: 350px;
  height: 190px;
  margin: 40px 30px 0px 30px;
  object-fit: cover;
}
.menu-text {
  padding-top: 10px;  
}

.contact {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FFF;
}
#contact-heading {
  padding-top: 30px;
  font-size: 32px;
  color: #000000;
}
#contact-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #D085FD;
}
.contact-text {
  padding: 30px 0px 30px 0px;
  font-size: 16px;
  color: #000000;
}
.contact-contents {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}
.contact-nav {
  display: flex;
}
.contact-nav-list {
  line-height: 80px;
  padding: 0 30px;
  margin: 0 30px;
  list-style: none;
  font-size: 16px;
  background-color: #D085FD;
  border-radius: 100vh;
}

.contact-nav-list a{
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 20px;
}
.contact-nav :hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}
/*div要素全体にリンクをつけるために必要な要素*/
.page-top-link {
    position: relative;
    text-align: center;
}
.page-top-link a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.page-top {
  width: 100%;
  height: 90px;
}
/* 以下見た目をわかりやすくするための設定*/
.page-top-link {
  background-color: #F3CEFE;
}
.page-top-link a:hover{/* マウスオーバー時に色変更*/
  opacity: 0.1;
  background-color: #000000;
}

.column{
 column-count: 2;
}

footer {
  width: 100%;
  height: auto;
  background-color: #D085FD;
  bottom: 0;
}
.footer-menu-width1 ul {
	list-style: none;
	padding: 20px;
}
.footer-menu-width1 ul li { 
  list-style-position:inside;
  padding-left: 30px;
	line-height: 1.6em;
  margin-bottom: 20px;
  background: url(../img/li.png) left -1px top 2px no-repeat;
	background-size: 30px auto;
}
.footer-menu-width1 ul li :hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}
.footer-menu-contents {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  text-align: left;
}

.footer-menu-width1 {
  width: 40%;
  margin: 50px 50px 0 50px;
}
.footer-menu-width2 {
  width: 60%;
  background-image: url(../img/footerimg.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}
.footeer-text {
  margin-top: 10px;
}
.footer-top {
  display: flex;
}
.footer-top p {
  margin:10px 0 0 20px; 
}
.sns :hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}
.catch {
  display: flex;
  align-items: center; /* 垂直中心 */
}
.catch:after {
  border-top: 1px solid;
  content: "";
  width: 15em; /* 線の長さ */
  margin-left: 10px;
}
.info {
  width: 90%;
  margin: 10px auto;
}
.clinic-info{
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,td {
  padding: 10px 30px;
  border: 1px solid #AAAAAA;
}

th {
  background-color: #CCCCCC;
  width: 160px;
  text-align: left;
}

td {
  width: calc(100% - 150px);
}
.contact {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FFF;
}
.map-contents {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.map-nav {
  display: flex;
}

.map-nav-list {
  line-height: 60px;
  padding: 0 45px;
  margin: 0 30px;
  list-style: none;
  font-size: 16px;
  background-color: #D085FD;
  border-radius: 100vh;
}
.map-nav :hover{/* マウスオーバー時に色変更*/
    opacity: 0.7;
}
.map-nav-list a{
  display: block;
  height: 100%;
  width: 100%;
}
.gallery {
  width: 100%;
  margin-top: 20px; 
  padding-top: 20px;
  text-align: center;
}
.gallery-title {
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  background-image: url(../img/beginnerback.jpg);
  background-size: cover;
  background-position: center;
}
.swiper {
  width: 70%;
}
.swiper img {
  width: 100%;
  object-fit: cover;
}
.swiper_thumbnail .swiper-slide {
  cursor: pointer;
}
.swiper_thumbnail .swiper-slide-thumb-active {
  outline: 2px solid #000;
  outline-offset: -2px;
}
.swiper_thumbnail img {
  vertical-align: bottom;
}


.qanda {
  width: 100%; /* 横幅*/
  height: 100%; /* 親の高さに揃え */
  text-align: center;
  margin-top: 20px;
}

.qanda-heading {
  font-size: 32px;
  color:#000000;
}
.area01{
  background-color: #fff;
}

.inner {
  width:750px;
  margin: 20px auto;
}

.qa_box{
  margin-bottom: 20px;
}

.qa_box .qa_q {
  background-color: #D085FD;
  border: 1px solid #D085FD;
  padding: 20px 25px;
  position: relative;
  cursor: pointer;
  color: #fff;
}

.toggle_icon {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 20px;
  height: 20px;
  margin-top: -15px;
}
.toggle_icon:before{
  position: absolute;
  content: "▼";
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}

.qa_q.open .toggle_icon:before{
  position: absolute;
  content: "ー";
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}

.qa_box .qa_a {
  display: none;
  padding: 25px 30px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  background: #fff;
}

.q_txt{
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
  font-size: 20px;
}

.q_txt::before {
  position: absolute;
  left: 0;
  content: "Q．";
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.a_txt {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}

.a_txt::before {
  position: absolute;
  left: 0;
  content: "A．";
  color: #D085FD;
  font-size: 20px;
  font-weight: bold;
}

.information {
  width: 850px;
  margin: 10px auto;
}

#insta {
  width: 100%;
  margin-top: 10px;
}
#insta ul {
  display: flex;
  flex-wrap: wrap;
}
#insta li {
  list-style: none;
  width: 20%;
  margin: 2.5%;
}
#insta img {
  max-width: 100%;
  height: auto;
  display: block;
}
#insta li a {
  position: relative;
  display: block;
}
#insta .caption {
  white-space: pre-wrap;
  word-wrap: break-word; /* もしくは overflow-wrap: break-word; */
}
#insta h1 {
  text-align: center;
  font-size: 30px;
  font-weight:bold;
  padding: 30px;
  color:#333;
}

#content {
    background-color:#F3CEFE;
    line-height:1.5;
    width:540px;
    padding:20px;
    margin:50px auto 0;
}
#content h2{
    margin-top: 30px;
    margin-bottom: 10px;
}

.menus2 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #fff;
}
#menu-heading2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 32px;
  color: #000000;
}
#menu-heading2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #D085FD;
}
.menu-contents2 {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}
.Menu2 {
  position: relative;
  width: 350px;
  overflow:hidden;
  box-shadow: 0 0 10px  #D085FD;
  background-color: #fff;
  border-radius: 10px;
}
.Menu2:nth-child(2) {
  margin: 0px 35px; 
}
.Menu2 a {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}
.Menu2 a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.1;
    background-color: #000000;
}
.beginner {
  position: relative;  
  margin-top: 50px;
  width: 90%;
  height: 120px;
  background-image: url(../img/beginnerback.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  overflow:hidden;
  box-shadow: 0 0 10px  #D085FD;
  border-radius: 10px;
}
.beginner a {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}
.beginner a:hover{/* マウスオーバー時に色変更*/
    opacity: 0.1;
    background-color: #000000;
}
.menu-heading2 {
  font-size: 25px;
  color: #000000;  
  margin: 10px 0px;
}
.menu-text2 {
  text-align: left;
  color: #000000;  
  font-size: 16px;
  margin: 20px;
}
.menu-heading3 {
  font-size: 35px;
  color: #000000;  
  margin: 0 auto;
}

#menu-image2 {
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.sabnav {
  width: 100%;
  margin: 10px 0;
}
.column2 {
  width: 70%;
  margin: 0 auto;
}
.column2 li{
  display: inline;
  margin-left: 5px;
}
.column2 li :hover{/* マウスオーバー時に色変更*/
  opacity: 0.7;
}

.beginner-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3CEFE;
}
.youtube {
  width: 70%;
  aspect-ratio:16/9;
  margin:10px auto;
}
.youtube iframe {
  width: 100%;
  height: 100%;
}
#content2 {
    background-color:#F3CEFE;
    line-height:1.5;
    width:70%;
    padding:20px;
    margin:50px auto 0;
}
#content2 h2{
    margin-bottom: 5px;
}
#content2 h2:nth-child(2){
    padding-top: 10px;
}
#content2 h2:nth-child(3){
    padding-top: 10px;
}
.warning {
  width: 100%;
}
.content2-title {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
.contact-contents {
  width: 100%;
  padding-bottom: 0px;
}
.contact-nav {
  display: block;
}
.contact-nav-list {
  margin: 20px 30px;
}
.contact-text {
    padding: 30px 5px 10px 5px;
    font-size: 16px;
    color: #000000;
}
.footer-menu-contents {
  display: block;
}

.footer-menu-width1 {
  width: 100%;
  margin: 0px 50px 0 10px;
  padding-top: 25px;
}
.footer-menu-width1 ul{
  padding: 5px;
}
.footer-top p {
  margin: 20px 10px 0 10px;
  font-size: 14px;
}
.footer-top p br {
  display: none;
}
.footer-top p br {
  display: none;
}

.inner{
    width: auto;
}

.toggle_icon {
    right: 0.8rem;
}

.toggle_icon:before {
    width: 15px;
}
.toggle_icon:after {
    height: 15px;
    right: 7px;
}

.map-nav {
  display: block;
}
.map-nav-list {
  margin: 20px 30px;
}
.gallery {
  padding-top: 0px;
}
#content {
    width: 90%;
}
.menu-contents2 {
  width: 100%;
  display: block;
}
.Menu2:nth-child(2) {
  margin: 20px 0;
}
.beginner {
  width: 100%;
  height: 120px;
}
.youtube {
  width: 90%;
}
#content2 {
    width: 90%;
}
.menu {
  width: 90%;
  height: auto;
}
.column2 {
  margin: 0; 
  width: 100%;
}
.menu-contents {
  flex-direction: column-reverse;
}
.menu-image {
  width: 100%;
}
.menu-image img {
  width: 100%;
  height: 200px;
  margin: 10px 0 0 0;
}
.left-line {
  width: 100%;
}
.information {
  width: 90%;
}
#insta li {
  width: 45%;
}
.sab-visual-heading {
  font-size: 40px;
}
.content2-title {
  width: 90%;
  font-size: 16px;
}
.swiper {
  width: 90%;
}
}

@media screen and (max-width: 412px) { 
.toggle_icon {
  right: 0.4rem;
}

.footer-top p {
  margin: 17px 10px 0 10px;
  font-size: 12px;
  width: 210px;
}
.column a {
  font-size: 12.5px;
}
.footer-menu-width1 {
  margin: 0px 0px 0px 15px;
}
.footer-menu-width1 {
    width: auto;
}
.sab-visual {
  background-image: url(../img/sabmv2.png);
}
.sab-visual {
  height: 135px;
}
}