* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_fadein{
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
}
.first-logo {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}
.first-image1_fadein {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}

.first-image2_fadein {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
}

.first-logo {
  height: 250px;
}

.first-image1 {
  height: 100vh;
}

.first-image2 {
  height: 100vh;
}

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:-120%;
    left:0;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:#999;
    /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  top: 0;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
  text-align: center; 
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
  z-index: 1000;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}
  
/*×に変化*/  
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 500px; /* 高さ */
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}

.main-visual-content {
  width: 50%; /* 横幅*/
  height: 100%; /* 親の高さに揃え */
  text-align: center;
}

.logo {
  margin-top: 25px; 
  height: 60%;
}

.main-visual-heading {
  font-size: 30px;
  color:#000000;
}
.main-visual-text {
  padding-top: 10px;
  font-size: 20px;
  color:#000000;  
}

/*------ スライダー横幅 ------*/
.campaign-slider{
  width:70%;
  margin:0 auto;
}

/*------ スライダー画像 ------*/
.campaign-slider img{
  width:100%;
}

/*-------- 高さ調整 ----------*/
.campaign-slider .slick-slide{
  height:auto!important;
}

/*----------- 矢印 -----------*/
.campaign-slider .slick-next{
  right:0!important;
}
.campaign-slider .slick-prev{
  left:0!important;
}
.campaign-slider .slick-arrow{
  width: initial!important;
  height: initial!important;
  z-index:2!important;
}
.campaign-slider .slick-arrow:before{
  font-size: 30px!important;
}


.merit{
  width:100%;
  height: 630px;
  background-color: #D3AEB7;
  padding:40px 0px;
}
/*------ スライダー横幅 ------*/
.merit-slider{
  width:1200px;
  height: 100%;
  margin:0 auto;
  background-color: #FFF;
}
/*-------- 高さ調整 ----------*/
.merit-slider .slick-slide{
  height:auto!important;
}

/*----------- 矢印 -----------*/
.merit-slider .slick-arrow {
  position: absolute;
  top: 90%;
  z-index: 1;
  cursor: pointer;
  width: 50px!important;
  height: 50px!important;
}

.merit-slider .prev-arrow {
  left: 30.8%;
}

.merit-slider .next-arrow {
  left: 35.4%;
}

.merit-contents {
  width: 100%;
  height: 100%;  
  display: flex;
}
.merit-width1 {
  width: 40%;
  height: 100%;
}
.merit-width2 {
  width: 60%;
  height: 100%;
}
.merit-slider img {
  width: 100%;
  height: 550px;
  margin: auto;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.merit-title {
  text-align: left;
  font-size: 32px;
  color: #000000;  
  margin: 10px 0px 5px 10px;
}
.merit-detail {
  text-align: left;
  font-size: 24px;
  color: #000000;  
  margin: 10px 0px 5px 10px;
}
.merit-detail-text {
  text-align: left;
  color: #000000;  
  font-size: 15px;
  margin-left: 10px;
}

.menus {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FFF;
}
#menu-heading {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 32px;
  color: #000000;
}
#menu-heading::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}
.menu-contents {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}
.Menu {
  width: 350px;
  overflow:hidden;
  box-shadow: 5px 5px 5px 5px  rgba(0, 0, 0, 0.35);
}
.Menu:nth-child(2) {
  margin: 0px 35px; 
}
.menu-heading {
  font-size: 20px;
  color: #000000;  
  margin: 10px 0px;
}
.menu-text {
  text-align: left;
  color: #000000;  
  font-size: 16px;
  margin: 0 10px
}

#menu-image {
  width: 350px;
  height: 250px;
}

.price {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FFF;
}
#price-heading {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 32px;
  color: #000000;
}
#price-heading::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}
.price-table{
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}

table, th, td {
  border: 1px solid black;
}

table{
  font-family: 'Oswald', sans-serif;
  border-collapse:collapse;
}

th{
  background-color: #D3AEB7;
  color:#ffffff;
  width:25vw;
  height:75px;
}

td{
  background-color:#ffffff;
  width:25vw;
  height:50px;
  text-align:center;
}

tr{
  border-bottom: 1px solid #dddddd;
}

tr:last-of-type{
  border-bottom: 1px solid #000000;
}

tr:nth-of-type(even) td{
  background-color: #D3AEB7;
}

.info{
  width:100%;
  height: 550px;
  background-color: #FFF;
  margin: 40px 0px;
}
/*------ スライダー横幅 ------*/
.info-slider{
  width:100%;
  margin:0 auto;
}
/*------ スライダー画像 ------*/
.info-slider img{
  width:100%;
}

/*-------- 高さ調整 ----------*/
.info-slider .slick-slide{
  height: 550px;
}
.info-contents {
  width: 1200px;
  height: 100%;  
  margin: 0 auto;
  display: flex;
}
.info-width1 {
  width: 60%;
  height: 100%;
}
.info-width2 {
  width: 40%;
  height: 100%;
}
.info-title {
  text-align: left;
  font-size: 32px;
  color: #000000;  
  margin: 10px 0px 5px 10px;
}
.info-detail {
  text-align: left;
  font-size: 24px;
  color: #000000;  
  margin: 10px 0px 5px 10px;
}
.info-slider img {
  width: 100%;
  height: 550px;
  margin: auto;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}


.contact {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FFF;
}
#contact-heading {
  padding-top: 90px;
  font-size: 32px;
  color: #000000;
}
#contact-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #D3AEB7;
}
.contact-text {
  padding: 30px 0px 30px 0px;
  font-size: 16px;
  color: #000000;
}
.contact-contents {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 90px;
}
.contact-nav {
  display: flex;
}

.contact-nav-list {
  line-height: 80px;
  padding: 0 30px;
  margin: 0 30px;
  list-style: none;
  font-size: 16px;
  background-color: #D3AEB7;
  border-radius: 50%;
}

.contact-nav-list a{
  display: block;
  height: 100%;
  width: 100%;
}
