* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,a:hover,a:visited{
    color: inherit;
}

body {
    font-family: 游ゴシック体, YuGothic, 'Yu Gothic', "游ゴシック Medium",
    "Yu Gothic Medium", 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top:-120%;
    left:0;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:#999;
    /*動き*/
  transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  top: 0;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
  list-style: none;
  text-align: center; 
}

#g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1{
  position:fixed;
  z-index: 1000;/*ボタンを最前面に*/
  top:10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height:50px;
}
  
/*×に変化*/  
.openbtn1 span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn1 span:nth-of-type(1) {
  top:15px; 
}

.openbtn1 span:nth-of-type(2) {
  top:23px;
}

.openbtn1 span:nth-of-type(3) {
  top:31px;
}

.openbtn1.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn1.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn1.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.sab-visual {
  width: 100%; /* 横幅いっぱい */
  height: 200px; /* 高さ */
  background-image: url(../img/mv.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}

.sab-visual-content {
  width: 100%; /* 横幅*/
  height: 100%; /* 親の高さに揃え */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sab-visual-heading {
  font-size: 70px;
  color:#000000;
}

.menu {
  width: 850px;
  margin: 10px auto;
  height: 400px;
}
.menu-contents {
  display: flex;
}
dt {
 height: 10px;  
}
db {
  display: flex;
}
.tb-line {
  width: 100%; /* 横幅*/
  height: 100px; /* 親の高さに揃え */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top:1px solid #000000;
  border-bottom:1px solid #000000;
}
.left-line {
  width: 50%;
  border-left:5px solid #000000; /*線の設定*/
  padding:2px 8px; /*余白の設定*/
  margin-top: 30px;
}
.menu-heading {
  width: 150px;
  line-height: 40px;
  margin: 0 10px;
  font-size: 20px;
  background-color: #D085FD;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.menu-price {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.menu-image {
  width: 50%;
}
.menu-image img{
  width: 350px;
  height: 190px;
  margin: 40px 30px 0px 30px;
  object-fit: cover;
}
.menu-text {
  padding-top: 10px;  
}

.contact {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FFF;
}
#contact-heading {
  padding-top: 30px;
  font-size: 32px;
  color: #000000;
}
#contact-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #D3AEB7;
}
.contact-text {
  padding: 30px 0px 30px 0px;
  font-size: 16px;
  color: #000000;
}
.contact-contents {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}
.contact-nav {
  display: flex;
}

.contact-nav-list {
  line-height: 80px;
  padding: 0 30px;
  margin: 0 30px;
  list-style: none;
  font-size: 16px;
  background-color: #D085FD;
  border-radius: 100vh;
}

.contact-nav-list a{
  display: block;
  height: 100%;
  width: 100%;
}

/*div要素全体にリンクをつけるために必要な要素*/
.page-top-link {
    position: relative;
    text-align: center;
}
.page-top-link a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

.page-top {
  width: 100%;
  height: 90px;
}
/* 以下見た目をわかりやすくするための設定*/
.page-top-link {
  background-color: #F3CEFE;
}
.page-top-link a:hover{/* マウスオーバー時に色変更*/
  opacity: 0.1;
  background-color: #000000;
}

.column{
 column-count: 2;
}

footer {
  width: 100%;
  height: 600px;
  background-color: #D085FD;
}
.footer-menu-width1 ul {
	list-style: none;
	padding: 20px;
}
.footer-menu-width1 ul li { 
  list-style-position:inside;
  padding-left: 20px;
	line-height: 1.6em;
  margin-bottom: 20px;
  background: url(../img/li.png) left 0px top 3px no-repeat;
	background-size: 15px auto;
}

.footer-menu-contents {
  width: 100%;
  height: 100%;  
  margin: 0 auto;
  display: flex;
  text-align: left;
}

.footer-menu-width1 {
  width: 50%;
  margin: 50px 50px 0 50px;
  height: 400px;
}
.footer-menu-width2 {
  width: 50%;
  height: 400px;
}
#footer-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.info {
  width: 90%;
  margin: 10px auto;
}
.clinic-info{
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,td {
  padding: 10px 30px;
  border: 1px solid #AAAAAA;
}

th {
  background-color: #CCCCCC;
  width: 150px;
  text-align: left;
}

td {
  width: calc(100% - 150px);
}
.contact {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #FFF;
}
.map-contents {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.map-nav {
  display: flex;
}

.map-nav-list {
  line-height: 60px;
  padding: 0 45px;
  margin: 0 30px;
  list-style: none;
  font-size: 16px;
  background-color: #D085FD;
  border-radius: 100vh;
}

.map-nav-list a{
  display: block;
  height: 100%;
  width: 100%;
}
.gallery {
  width: 100%;
  margin-top: 20px; 
  padding-top: 30px;
  text-align: center;
  background-color: #F3CEFE;
}
.gallery-title {
  height: 70px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}
.swiper {
  width: 70%;
}
.swiper img {
  width: 100%;
}
.swiper_thumbnail .swiper-slide {
  cursor: pointer;
}
.swiper_thumbnail .swiper-slide-thumb-active {
  outline: 2px solid #000;
  outline-offset: -2px;
}
.swiper_thumbnail img {
  vertical-align: bottom;
}

.qanda {
  width: 100%; /* 横幅*/
  height: 100%; /* 親の高さに揃え */
  text-align: center;
  margin-top: 20px;
}

.qanda-heading {
  font-size: 32px;
  color:#000000;
}
.area01{
  background-color: #fff;
}

.inner {
  width:750px;
  margin: 20px auto;
}

.qa_box{
  margin-bottom: 20px;
}

.qa_box .qa_q {
  background-color: #D085FD;
  border: 1px solid #D085FD;
  padding: 20px 25px;
  position: relative;
  cursor: pointer;
  color: #fff;
}

.toggle_icon {
  position: absolute;
  top: 50%;
  right: 2rem;
  width: 20px;
  height: 20px;
  margin-top: -15px;
}
.toggle_icon:before{
  position: absolute;
  content: "▼";
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}

.qa_q.open .toggle_icon:before{
  position: absolute;
  content: "ー";
  margin: auto;
  box-sizing: border-box;
  vertical-align: middle;
}

.qa_box .qa_a {
  display: none;
  padding: 25px 30px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  background: #fff;
}

.q_txt{
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
  font-size: 20px;
}

.q_txt::before {
  position: absolute;
  left: 0;
  content: "Q．";
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.a_txt {
  display: block;
  padding-left: 35px;
  position: relative;
  line-height: 1.5;
}

.a_txt::before {
  position: absolute;
  left: 0;
  content: "A．";
  color: #D085FD;
  font-size: 20px;
  font-weight: bold;
}

.information {
  width: 850px;
  margin: 10px auto;
}

#insta {
  width: 100%;
  margin-top: 10px;
}
#insta ul {
  display: flex;
  flex-wrap: wrap;
}
#insta li {
  list-style: none;
  width: 20%;
  margin: 2.5%;
}
#insta img {
  max-width: 100%;
  height: auto;
  display: block;
}
#insta li a {
  position: relative;
  display: block;
}
#insta li a .like {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
  opacity: 0.6;
  text-shadow: 0 0 7px #000;
}
#insta .caption {
  white-space: pre-wrap;
  word-wrap: break-word; /* もしくは overflow-wrap: break-word; */
}
#insta h1 {
  text-align: center;
  font-size: 30px;
  font-weight:bold;
  padding: 30px;
  color:#333;
}


@media screen and (max-width: 750px) { 
    .inner{
        width: auto;
    }
    
    .toggle_icon {
        right: 0.8rem;
    }
    
    .toggle_icon:before {
        width: 15px;
    }
    .toggle_icon:after {
        height: 15px;
        right: 7px;
    }
}

@media screen and (max-width: 480px) { 
    .toggle_icon {
        right: 0.4rem;
    }
}